<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.wxiaoqi.security.generator.mapper.GeneratorMapper">
    <select id="queryList" resultType="map">
        select t.table_name table_name, fb.comments table_comment FROM all_tables t
        LEFT JOIN all_tab_comments fb
        ON t.table_name = fb.table_name
        WHERE t.owner = 'SRM'
        <if test="tableName != null and tableName.trim() != ''">
            and t.table_name like ('%'|| #{tableName}|| '%')
        </if>

    </select>


    <select id="queryTotal" resultType="int">
        select COUNT(*) FROM all_tables t
        INNER JOIN all_tab_comments fb
        ON t.table_name = fb.table_name
        WHERE t.owner = 'SRM'
        <if test="tableName != null and tableName.trim() != ''">
            and t.table_name like ('%'|| #{tableName}||'%')
        </if>
    </select>

    <select id="queryTable" resultType="map">

		select t.table_name table_name, fb.comments table_comment FROM all_tables t
		LEFT JOIN all_tab_comments fb
		ON t.table_name = fb.table_name
		WHERE t.owner = 'SRM' and t.table_name = #{tableName}

	</select>

    <select id="queryColumns" resultType="map">

         SELECT t.column_name, t.data_type, acc.comments, uc.constraint_type
      FROM all_tab_columns t
      LEFT JOIN all_col_comments acc
        ON t.table_name = acc.table_name
       AND t.column_name = acc.column_name
       AND t.owner = acc.owner
      LEFT JOIN user_cons_columns ucc
        ON t.table_name = ucc.table_name
       AND t.column_name = ucc.column_name
       AND t.owner = ucc.owner
       AND ucc.position = 1
      LEFT JOIN user_constraints uc
        ON ucc.constraint_name = uc.constraint_name
    WHERE t.table_name = #{tableName}
       AND t.owner = 'SRM'
     ORDER BY t.column_id


	</select>
</mapper>