import ${package};
import com.midea.mdp.core.util.ContextUtils;
import com.midea.mdp.extend.comm.constant.ConstantValue;
import com.midea.mdp.extend.web.BaseController;
import org.springframework.stereotype.Component;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.servlet.ModelAndView;

import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;


@Component
@Controller("sourcing_controller_${secondModuleName}")
@RequestMapping("${secondModuleName}")
public class ${className}Controller extends BaseController {

}