package ${package}.entity;

import com.midea.mdp.core.annotation.persistence.*;

import java.io.Serializable;
import java.sql.Timestamp;
import java.util.Date;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */

@MdpEntity
@MdpTable(name = "${tableName}")
public class ${className} implements Serializable{
private static final long serialVersionUID=1L;

#foreach ($column in $columns)
    #if($column.columnName == $pk.columnName)
        #if($column.comments)
        //$column.comments
        #end
    //@Column(name = "$column.columnName")
    private $column.attrType $column.attrname;
    #else
        #if($column.comments)
        //$column.comments
        #end
    //@Column(name = "$column.columnName")
    private $column.attrType $column.attrname;
    #end
#end
#foreach ($column in $columns)

    #if($column.columnName == $pk.columnName)
        #if($column.columnName == $pk.columnName)
        @MdpId
        @MdpGeneratedValue(strategy = MdpGenerationType.DISTRIBUTED)
        #end
    public void set${column.attrName}($column.attrType $column.attrname){
            this.$column.attrname = $column.attrname;
            }
    public $column.attrType get${column.attrName}() {
            return $column.attrname;
            }
    #end
#end
        }
